.heading {
  margin: auto -20px;
}

img {
  width: auto;
  height: 10vw;
  position: relative;
}

h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 1vw;
  padding-right: 2vw;
  font-size: 4vw;
  color: white;
  border-color: black;
  text-shadow: 1px 0px 20px rgb(5, 200, 100);
}

.text-center {
  position: relative;
}
