<!--Need a way to use the images in the folder instead of using the links from the web as src  -->
<div class="container-fluid heading">
  <div class="row">
    <div class="col-4">
      <img src="https://cdn.instructables.com/F2D/FG0U/HU3TN7LJ/F2DFG0UHU3TN7LJ.MEDIUM.jpg" alt="">
    </div>
    <div class="col-4">
      <img src="https://cdn.instructables.com/FR4/DGK1/HU3TN7LK/FR4DGK1HU3TN7LK.MEDIUM.jpg" alt="">
    </div>
    <div class="col-4">
      <div class="text-center">
        <img src="https://cdn.instructables.com/FDF/6DKT/HU3TN7LN/FDF6DKTHU3TN7LN.MEDIUM.jpg" alt="">
        <h1>NyanChat</h1>
      </div>
    </div>
  </div>
</div>
